---
layout: splash
title: "Welcome"
header:
  overlay_filter: "0.2"
  overlay_image: /assets/images/unsplash-home.jpg
excerpt: "Good artists copy; great artists steal - <cite>Pablo Picasso</cite>"
#intro:
#  - excerpt: '前ODM上层'
#  - excerpt: '现移动app开发'
#  - excerpt: 'Android学习中'
feature_row:
  - image_path: /assets/images/preview-hero.png
    alt: "ANDROID"
    title: "Android"
    excerpt: '从Android四大组件这些基本知识到底层源码，日常开发中遇到的坑等，只要笔者有遇到，都会记录在这里'
    url: "/android-archive/"
    btn_label: "查看更多"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/flutter/flutter.png
    alt: "FlUTTER"
    title: "Flutter"
    excerpt: 'Google出品，押宝了'
    url: "/flutter-archive/"
    btn_label: "瞧一瞧"
    btn_class: "btn--primary"
  - image_path: /assets/images/jvm-splash.jpg
    alt: "Unstanding the JVM"
    title: "Java虚拟机"
    excerpt: '深入理解Java虚拟机第二版'
    url: "/jvm-archive/"
    btn_label: "技多不压身"
    btn_class: "btn--primary"
  - image_path: /assets/images/effective-java/effective-java-book.jpg
    alt: "EFFECTIVE JAVA"
    title: "Effective Java"
    excerpt: '很多挺有用的小细节'
    url: "/effective-java-archive/"
    btn_label: "看一看"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/leetcode/algo.png
    alt: "ALGORITHM"
    title: "算法"
    excerpt: '剑指Offer & LeetCode'
    url: "/algorithm-archive/"
    btn_label: "温故而知新"
    btn_class: "btn--primary"
  - image_path: /assets/images/atom-mark.png
    alt: "DESIGN PATTERNS"
    title: "设计模式"
    excerpt: '写「好」代码'
    url: "/design%20patterns/design-pattern/"
    btn_label: "精准而优雅"
    btn_class: "btn--primary"
  - image_path: /assets/images/homework.png
    alt: "ARCHIVE"
    title: "HOMEWORK"
    excerpt: '知识星球'
    url: "/android/zsxq_index/"
    btn_label: "I Do!"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/fall.png
    alt: "ARCHIVE"
    title: "归档"
    excerpt: '所有我知道的，这儿都有'
    url: "/year-archive/"
    btn_label: "查看所有文章"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row type="left" %}

{% include feature_row id="feature_row2" %}

{% include feature_row id="feature_row3" %}

{% include feature_row id="feature_row4" %}
