
html {
  font-size: 12px;

  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }
}

html,
body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

a {
  text-decoration: none;

  &:visited {
    color: $link-color-visited;
    text-decoration: none;
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

// whole header
.masthead {
  border-bottom: 0px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
  background: $header-background-color;

  &__inner-wrap {
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
}

.initial-content {
  padding-top: $nav-height;
}

.search-content {
  padding-top: $nav-height + 2em;
}

// website title & navigation
.greedy-nav {
  background: $header-background-color;

  a {
    padding: 1rem 0 1rem 0;
    color: $primary-text-color;

    &.site-title {
      margin-left: 1rem;
    }
  }

  &__toggle {
    color: $muted-text-color;
    background-color: transparent;
  }

  // more actions
  .hidden-links {
    background: $header-background-color;
  }
}

// splash overlay
// feature-row
.feature__wrapper {
  margin-bottom: 16px;
  border-bottom: none;
}

// feature-item special
.feature__item--left,
.feature__item--center,
.feature__item--right {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  background: $header-background-color;
  border-radius: 4px;

  .archive__item {
    &-teaser {
      margin-bottom: 0;
    }

    &-body {
      padding-left: 16px;
      padding-right: 16px;

      p {
        margin: 0 0 16px;
      }
    }

    &-title {
      margin-top: 16px;
      padding-bottom: 8px;
    }

    &-excerpt {
      padding-bottom: 0px;
    }
  }
}

// feature__item normal
.feature__item {
  .archive__item {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
    background: $header-background-color;
    border-radius: 4px;

    &-body {
      padding: 16px;
      margin-top: 0;

      p {
        margin: 0;
      }
    }

    &-title {
      margin-top: 0;
      padding-bottom: 8px;
    }

    &-excerpt {
      padding-bottom: 16px;
    }
  }
}

// list archive item
// list archive subtitle (e.g 2018-08)
.archive__subtitle {
  margin: -16px 0 0 0;
  padding-bottom: 0;
  font-size: $type-size-5;
  color: $muted-text-color;
  border-bottom: none;

  + .list__item .archive__item-title {
    margin-top: 0em;
  }
}

// list archive item
.list__item {
  background: $header-background-color;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;

  .archive__item {
    &-title {
      margin-top: 0em;

      a {
        color: inherit;
      }
    }

    &-excerpt {
      font-size: 1em;
    }

    p {
      margin: 0;
    }
  }

  .page__meta {
    font-size: 0.8em;
  }
}

// article
.breadcrumbs {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  ol {
    width: 100%;
    font-size: 14px;
    padding-left: 36px;

    &:before {
      color: $link-color-visited;
      content: "\27A0";
      float: left;
      text-rendering: optimizeLegibility;
      word-wrap: normal;
      margin-left: -36px;
    }
  }

  .current {
    font-weight: 400;
  }
}

// article page content
.page {
  width: 100%;

  &__content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 1.5em;
      padding-bottom: 0.5em;
    }
  }
}

.page__inner-wrap {
  background: $header-background-color;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  border-radius: 4px;
  padding: 16px;

  .page__meta {
    font-size: 0.8em;

    a {
      &:visited {
        color: inherit;
      }

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  .page__title {
    margin: 24px 0 24px 0;
  }
}

// side bar
.sidebar__right {
  @include breakpoint($large) {
    margin-right: -1 * $right-sidebar-width-narrow - 16;

    &.sticky {
      top: 5em;
    }
  }

  @include breakpoint($x-large) {
    margin-right: -1 * $right-sidebar-width - 20;
  }
}

// author sidebar
.social-icons {
  color: $primary-text-color;

  a {
    color: $primary-text-color;

    &:hover {
      color: $primary-text-color;
    }

    &:visited {
      color: $primary-text-color;
    }

    .svg-inline--fa {
      color: inherit;
    }
  }
}

// toc
.toc {
  background: $header-background-color;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  border-radius: 4px;
  padding: 16px;

  &__menu {
    font-size: $type-size-5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    a {
      padding: 8px;
      color: $primary-text-color;
      border-bottom: none;
      text-decoration: none;
      font-weight: normal;

      &:hover {
        color: $link-color-hover;
        text-decoration: none;
      }
    }

    li ul > li a {
      padding-left: 16px;
      font-weight: normal;
    }

    li ul li ul > li a {
      padding-left: 24px;
      font-weight: normal;
    }

    li ul li ul li ul > li a {
      padding-left: 32px;
      font-weight: normal;
    }

    li ul li ul li ul li ul > li a {
      padding-left: 40px;
      font-weight: normal;
    }

    li ul li ul li ul li ul li ul > li a {
      padding-left: 48px;
      font-weight: normal;
    }
  }

  .nav__title {
    font-size: 24px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    padding: 8px 8px 8px 8px;
    color: $primary-text-color;
    background-color: inherit;
  }
}

// figure
figcaption {
  text-align: center;
  font-size: 12px;
  width: 100%;
}

// code
div.highlighter-rouge,
figure.highlight {
  > pre,
  pre.highlight {
    border: 1px solid #ebebeb;
  }
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  color: #008f83;
  padding: 0;
  font-size: 14px;

}

.highlight table {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;

  tr {
    border: 0;
  }

  td {
    background: $code-background-color;
    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      border-right: 1px solid $divider-color;
    }
  }
}

img {
  border: 1px solid $divider-color;
}

blockquote {
  margin: 2em 0em 2em 0;
  padding: 1em;
  padding-bottom: 0.01em;
  font-style: normal;
  background: $code-background-color;
  border-left: 0.25em solid $accent-color;
}

/* next/previous buttons */
.page__meta+.pagination {
  padding-top: 16px;
}

.pagination--pager {
  color: $primary-text-color;
  background-color: $header-background-color;
  border-color: transparent;

  &:hover {
    color: $primary-text-color;
    background: $background-color;
  }

  &:visited {
    color: $primary-text-color;
  }
}

// page__related
.page__related {
  width: 100%;
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.grid__item {
  border-radius: 4px;
  background: $footer-background-color;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  padding: 16px;

  .archive__item {
    &-title {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;

      a {
        color: $primary-text-color;
        text-decoration: none;
        font-weight: bold;

        &:visited {
          color: $primary-text-color;
        }

        &:hover {
          color: $link-color-hover;
          text-decoration: none;
        }
      }

      &-excerpt {
        font-size: 1em;
      }
    }
  }

  .page__meta {
    font-size: 0.8em;
  }
}

/*
   Default button
   ==========================================================================
*/
/*
   Default button
   ==========================================================================
*/
/*
   Default button
   ==========================================================================
*/
.btn {
  /* default */
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
  color: $accent-color;

  /* button colors */
  $buttoncolors:
  (primary, #FFF),
  (inverse, #fff),
  (light-outline, transparent),
  (success, #FFF),
  (warning, #FFF),
  (danger, #FFF),
  (info, #FFF);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      @if ($buttoncolor == inverse) {
        box-shadow: none;
        border: 1px solid $border-color;
      }
      @if ($buttoncolor == light-outline) {
        box-shadow: none;
        border: 1px solid #fff;
      }

      &:visited {
        background-color: inherit;
        color: $accent-color;
      }

      &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,.3);
        background-color: inherit;
        color: $accent-color;
      }
    }
  }
}

/* ==========================================================================
NOTICE TEXT BLOCKS
==========================================================================
*/
/* ==========================================================================
NOTICE TEXT BLOCKS
==========================================================================
*/
/* ==========================================================================
NOTICE TEXT BLOCKS
==========================================================================
*/

/**
 *  Default Kramdown usage (no indents!):
 *  <div class="notice" markdown="1">
 *  #### Headline for the Notice
 *  Text for the notice
 *  </div>
 */

@mixin notice($notice-color, $notice-background-color) {
  margin: 16px 0 !important;  /* override*/
  padding: 12px 24px 12px 60px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px !important;
  text-indent: initial; /* override*/
  border-radius: 0px;
  box-shadow: none;
  background: $notice-background-color;
  color: $notice-color;

  &:before {
    color: $notice-color;
    content: "\2605";
    float: left;
    text-rendering: optimizeLegibility;
    word-wrap: normal;
    margin-left: -36px;
  }

  h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
  }

  @at-root .page__content #{&} h4 {
    /* using at-root to override .page-content h4 font size*/
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }

  h4 + p {
    /* remove space above paragraphs that appear directly after notice headline*/
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;
    text-decoration: underline;

    &:hover {
      color: $notice-color;
    }
  }

  code {
    font-size: 12px !important;
    background-color: mix(#fff, $notice-background-color, 50%);
  }

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }
}

.notice {
  @include notice($primary-text-color, $code-background-color);

  padding: 12px 24px 12px 24px;

  &:before {
    content: none;
    margin-left: 0px;
  }
}

/* Primary notice */

.notice--primary {
  @include notice($accent-color, #e1f5fe);
}

/* Info notice */

.notice--info {
  @include notice($accent-color, #e1f5fe);
  &:before {
    content: "\27A4";
    font-weight: bold;
  }
}

/* Warning notice */

.notice--warning {
  @include notice(#dd2c00, #fff3e0);
  &:before {
    content: "\2639";
    font-size: 18px;
    font-weight: bold;
  }
}

/* Success notice */

.notice--success {
  @include notice($accent-color, #e1f5fe);
}

/* Danger notice */

.notice--danger {
  @include notice(#dd2c00, #fff3e0);
  &:before {
    content: "\2715";
    font-weight: bold;
  }
}

/* ==========================================================================
   TABLES
   ========================================================================== */
table {
  margin: 0 0 16px;
  font: 14px/20px "Roboto", "Helvetica", "Arial", sans-serif;

  & + table {
    margin-top: 16px;
  }
}

thead {
  border: 0;
}

th {
  color: #fff;
  padding: 8px;
  font: 500 16px/24px "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: left;
}

td {
  background: rgba(255, 255, 255, .95);
  vertical-align: top;
  color: #212121;
  padding: 7px 8px 8px;
  border: 0;
}

tr {
  background-color: #78909c;
  border: 0;
  border-top: 1px solid #cfd8dc;
}
