
html {
  font-size: 12px;

  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }
}

/* Selected elements */

::-moz-selection {
  color: inherit;
  background: #a6d1fe;
}

::selection {
  color: inherit;
  background: #a6d1fe;
}


.greedy-nav {

  &__toggle {
    color: $muted-text-color;
    background-color: transparent;
  }

}
