/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  margin-bottom: 1.3em;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $code-background-color;
}

tbody {
  background-color: #fff;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  color: #000;
}

td {
  padding: 0.5em;
}

tr,
td,
th {
  vertical-align: middle;
  border: 1px solid #ddd;
}
