/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $footer-background-color;
}

tbody {
  background-color: $code-background-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  color: #fff;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
